@use '@carbon/react/scss/theme';
@use '@carbon/colors';


.wrapper{
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
}

.item{
    color: theme.$text-secondary;
    padding: 0.5rem;
    border-radius: 5px;
    &:hover{
        background-color: theme.$background-hover;
        cursor: pointer;
    }
}

.plusIcon{
    background-color: colors.$blue-20;
    color: colors.$blue-70;
    border-radius: 50%;     
    width: 1.5rem;
    height: 1.5rem;
    display: flex;   
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
}